body {color: red;}
h2,.black-border  { 
    
    border:  5px  solid rgb(96, 248, 25);
    border-width: 10mm;
    border-radius: 1mm;
    border-style: groove;
    width: 110;
  
}
article,.black-border  { 
    
    border:  3px  solid black;
    border-width: 1mm;
    border-radius: 1cm;
    width: 105;
  
}
#Tel {
    width: 110;
    background-color: rgb(244, 248, 8);}
    body {font-family: cursive;}
    #Kop {font-family: fantasy;}